/* VARIABLES */

:root {
    --primary-color: #c50000;
    --secondary-color: #880000;
    --dark-bg-color: #14171c;
    --bg-color: #ffeec5;
    --heading-color: #000;
    --overlay-color: rgba(20, 23, 28, 0.5);
    --scroll-bg-color: #141414;
    --scroll-fg-color: #222222;
}

/* PREREQUISITES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family : 'Raleway', sans-serif;
    outline: none !important;
}

html {
    margin: 0;
}
::-webkit-scrollbar {
    width: 10px;
}    
::-webkit-scrollbar-track {
    background-color: var(--scroll-bg-color);
}
::-webkit-scrollbar-thumb {
    background-color: var(--scroll-fg-color);
}

::placeholder { 
  color: rgba(255, 238, 197, 0.5);
}

@font-face {
    font-family: "garage-gothic";
    src: url("images/font.otf");
}


body {
    overflow-x: hidden;
    background-color: var(--bg-color);
}

/*NAVBAR*/

.navbar a:hover {
    color: var(--primary-color);
}
.navbar {
    overflow: hidden;
    background-color: none;
    position: fixed;
    width: 100%;
    border-radius: 0;
    z-index: 500;
    padding-left: 5%;
    padding-right: 5%;
	-webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	-webkit-animation-name: InDown;
    animation-name: InDown;
    top: 0;
    transition: all 0.25s;	
    color: var(--primary-color);
}

.disappear {
    top: -200;
}

.navbar a {
    float: right;
    display: block;
    color: var(--secondary-color);
    text-align: center;
    margin-top: 0.5%; 
    text-decoration: none;
    transition: all 0.15s;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    font-size: 25;
    margin: 0.5%;
    font-family: 'garage-gothic', sans-serif;
    text-transform: uppercase;
}

.navbar a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--primary-color);
    height: 2px;
    z-index: -1;
    transition: all 0.25s;
}

.nav-img {
    padding: 0 !important;
    margin: 0 !important;
    float: left !important;
}

.nav-img img {
    width: 20vw;
}

.nav-img::after {
    background: none !important;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar a.log {
    float: right;
}

.navbar span {
    float: left;
    display: block;
    text-align: center;
    padding: 2vh;
    text-decoration: none;
    margin: 10px 15px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    color: var(--primary-color);
}

.navbar a span {
    float: right !important;
    padding: 0;
    margin: 4vh;
    color: #fff;
}

.sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 20, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10%;
}

.sidenav a {
    display: block;
    color:  var(--secondary-color);
    text-align: center;
    padding: 10px 4px;
    width: 80%;
    text-decoration: none;
    transition: all 0.5s;
    margin: 10px 15px;
    position: relative;
    font-size: 25;
    text-transform: uppercase;
    font-weight: 500 !important; 
    font-family: 'garage-gothic', sans-serif;
    font-size: 30;
    text-transform: uppercase;
}

.sidenav a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--primary-color);
    height: 2px;
    transition: all 0.5s;
}

.sidenav a:hover::after {
    width: 50%;
}

.sidenav a:hover {
    color: var(--primary-color);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 36px;
    margin-left: 4%;
    margin-top: 5%;
    width: 10%;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 950px) {
    .nav-big {
        display: none !important;
    }
    .nav-small {
        display: block !important;
    }
}

.nav-big {
    display: block;
}

.nav-small {
    display: none;
}

/* HOME */

#home { 
    background: var(--overlay-color);
    height: 130%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    z-index: -1;
    align-content: center;
    justify-content: center;
    background-image: url(images/logo.png);
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: 50%;
}    

@media screen and (max-width: 950px) {
    #home {
        background-size: 100%;
    }
}

#home::before {
    position: absolute;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    height: 130%;
    width: 100%;
    z-index: -1;
    animation: changebg 100s infinite;
}

#home::after {
    background-image: url(images/texture.svg);
    position: absolute;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    content: "";
    height: 130%;
    width: 100%;
    bottom: -30%;
}

/*ABOUT*/

.section-head h2{
    font-family: 'garage-gothic', sans-serif;
    font-weight: 300;
    color: var(--primary-color);
    font-size: 50;
    letter-spacing: 3px;
}

.section-head {
    padding: 20px;
}

.row {
    margin: 0;
}

.section {
    padding: 5% 10%;
    color: #000;
    z-index: 2;
}
    
.writen  {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
    color: var(--font-color);
}

.line {
    border-color: var(--secondary-color);
    border-width: 2px;
    width: 30%;
}

/* PEOPLE */

.dark {
    color: var(--bg-color);
    background-color: var(--dark-bg-color);
}

.people-pics{
    padding: 40px 0;
}

.people-pics img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    filter: grayscale(50%);
    transition: .3s;
    cursor: pointer;
}

.people-pics img:hover, .people-pics img.active{
    filter: none;
}

.people-contents{
    max-width: 600px;
    margin: auto;
}

.people{
    display: none;
}

.people.active{
    display: block;
}

.links {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 30;
    letter-spacing: 3px;
    cursor: pointer;
}

.links span {
    font-family: 'garage-gothic', sans-serif;
    transition: .3s;
}

.links span:hover, .links span.active{
    color: var(--primary-color);
}

.team-section{
    display: none;
}

.team-section.active{
    display: block;
}

.people p{
    margin-bottom: 20px;
}

.people .description{
    font-size: 20px;
}

.people .description h2, .people .description h4 {
    text-transform: uppercase;
    font-family: 'garage-gothic', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30;
    letter-spacing: 3px;
}

.people .description h2 {
    color: var(--primary-color);
    font-size: 45;
}

.team-info {
    margin: 20px;
}

.team-text {    
    font-family: 'garage-gothic', sans-serif;
}

.team-text h4 {
    font-size: 30; 
}

.red-heading {
    color: var(--primary-color);
}

/* POSTERS */

.poster {
    width: 90%;
    margin: 20px;
}

/* QUIZ */

.quiz-box {
    border-radius: 20px;
    background-color: var(--dark-bg-color);
    color: var(--bg-color);
    font-style: normal;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.quiz-box-top {
    background-color: #1f1f1f;
    border: 2px transparent solid;
    border-bottom-color: var(--secondary-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 30px;
    text-align: center;
    font-family: 'garage-gothic', sans-serif;
    font-size: 50;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.quiz-box-body {
    padding: 50px;
}

.quiz-box-bottom {
    background-color: #1f1f1f;
    border: 2px transparent solid;
    border-top-color: var(--secondary-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 30px;
    text-align: center;
}

.quiz-box-bottom button {
    background-color: var(--secondary-color);
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-family: 'garage-gothic', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px;
}

/* MERCH */

.bgimg {
    background-image: url(images/merchbg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    z-index: -1;
    align-content: center;
    justify-content: center;
    color: var(--bg-color);
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 10px 5px;
    margin-left: 0;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.5;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    color: white;
    text-transform: uppercase;
    font-family: 'garage-gothic', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30;
    letter-spacing: 3px;
}

.back {
    background: #000;
}

.Answer {
    animation: greenANI 2s;
}

.fadeOut {
    animation: fadeOut 1s;
}

.fadeIn {
    animation: fadeIn 1s;
}

/* END */

#end {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
}
    
.font-alt {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

#end .font-alt a img {
    margin: 0 2%;
    width: 50%;
}

/* COMMENTS */

input[type=email], input[type=text], textarea {
    border: transparent solid 2px;
    border-bottom-color: var(--secondary-color);
    padding: 10px;
    justify-content: center;
    align-content: center;
    width: 35%;
    transition: 0.25s;
    text-align: center;
    margin: 10px auto;
    background: none;
    margin: 20px;
}

#compost {
    border: var(--primary-color) solid 2px;
    background: none;
    border-radius: 30px;
    padding: 10px 15px;
    justify-content: center;
    align-content: center;
    transition: 0.5s;
    text-align: center;
    margin: 5px auto;
}

textarea {
    width: 50%;
}

#compost:hover{
    background: var(--primary-color);
    color: #fff;
}

input[type="email"]:focus-within, input[type="text"]:focus-within, textarea:focus-within {
    border: transparent solid 2px;
    border-bottom-color: var(--primary-color);
}

#comment_post {
    width: 50%;
}

.comment_input {
    background-color: rgba(9, 11, 13, 0.5);
    border-radius: 20px;
    padding: 30;
}

.card-body {
    background-color: rgba(9, 11, 13, 0.5);
    border-radius: 20px;
    padding: 30 30 30 70;
    margin: 20 0;
}

.card {
    color: var(--bg-color);
    font-size: 17;
}

.card:hover {
    color: var(--bg-color);
    text-decoration: none;
}

.time {
    color: #fff7e4;
}

.card-title {
    font-size: 25;
}

#posts-list.has-comments li.no-comments {
  display: none;
}
.fromtop {
    animation: .5s fromtop ease-out;
    -webkit-animation: .5s fromtop ease-out;
    transition: .4s ease-out
}
/* ANIMATIONS */

@keyframes fromtop {from{opacity: 0;margin-top: -300px}to{opacity: 1;margin-top: 0}}
@-webkit-keyframes fromtop {from{opacity: 0;margin-top: -300px}to{opacity: 1;margin-top: 0}}
@keyframes changebg {
    0% {
        background-image: url(images/homebg.jpg);
    }
    8% {
        background-image: url(images/homebg.jpg);
    }
    10% {
        background-image: url(images/homebg1.jpg);
    }
    18% {
        background-image: url(images/homebg1.jpg);
    }
    20% {
        background-image: url(images/homebg2.jpg);
    }
    28% {
        background-image: url(images/homebg2.jpg);
    }
    30% {
        background-image: url(images/homebg3.jpg);
    }
    38% {
        background-image: url(images/homebg3.jpg);
    }
    40% {
        background-image: url(images/homebg4.jpg);
    }
    48% {
        background-image: url(images/homebg4.jpg);
    }
    50% {
        background-image: url(images/homebg5.png);
    }
    58% {
        background-image: url(images/homebg5.png);
    }
    60% {
        background-image: url(images/homebg6.jpg);
    }
    68% {
        background-image: url(images/homebg6.jpg);
    }
    70% {
        background-image: url(images/homebg7.jpg);
    }
    88% {
        background-image: url(images/homebg7.jpg);
    }
    90% {
        background-image: url(images/homebg8.jpg);
    }
    98% {
        background-image: url(images/homebg8.jpg);
    }
    100% {
        background-image: url(images/homebg.jpg);
    }
}

@keyframes greenANI {
    from{
        background-color: none;
    }
    to{
        background-color: forestgreen;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        display: none
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
        display: none
    }
    to{
        opacity: 1;
        display: block;
    }
}

/* ____     ____
   |   \    |   \     |     |   |    |
   | |\ \   | |\ \    |     |   |    |
   | |/ /   | |/ /    |     |   |    |
   |   /    |___/     |     |   |____|
   |   \    |   \     |     |   |    |
   | |\ \   |    \    |     |   |    |
   | |/ /   |     \   |     |   |    |
   |___/    |      \  \_____/   |    | */

/* SIR LEGEND HO KYA?? */